@font-face {
    font-family: "Museo_300";
    src: url("resource/fonts/Museo300-Regular.otf") format("opentype");
}
@font-face {
    font-family: "Museo_500";
    src: url("resource/fonts/Museo 500.otf") format("opentype");
}
@font-face {
    font-family: "Museo_700";
    src: url("resource/fonts/Museo700-Regular.otf") format("opentype");
}

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

@font-face {
    font-family: 'icomoon';
    src:  url('resource/fonts/icomoon.eot?cky4sy');
    src:  url('resource/fonts/icomoon.eot?cky4sy#iefix') format('embedded-opentype'),
      url('resource/fonts/icomoon.ttf?cky4sy') format('truetype'),
      url('resource/fonts/icomoon.woff?cky4sy') format('woff'),
      url('resource/fonts/icomoon.svg?cky4sy#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.icon-play:before {
    content: "\e900";
}
    

body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ===========================
 *         UNIVERSAL
 * ===========================
*/

.button {
    background:transparent;
    display:inline-block;
    font-size:1.5vw;
    padding:0.7vw 3vw;
    text-decoration:none;

    /* parallelogram */
    transform: skew(-30deg);
}
.button span {
    /* fix parallelogram */
    display:inline-block;
    transform: skew(30deg);
}


.input-field {
    display:inline-block;
    margin: 0 0 0 20px;
    padding: 0 3px 0 3px;
    -webkit-transform: skew(-30deg);
    -moz-transform: skew(-30deg);
    -o-transform: skew(-30deg);
}
.input-field input {
    outline: none;
    border: none;
    width: 100%;
    padding: 10px 20px;
    -webkit-transform: skew(30deg);
    -moz-transform: skew(30deg);
    -o-transform: skew(30deg);
}


.center { 
    position: relative;
}
.center > div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.center--hor { 
    position: relative;
}
.center--hor > div {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

.center--ver { 
    position: relative;
}
.center--ver > div {
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

.center--block {
  position: absolute;
  top: 0; bottom:0; left: 0; right:0;
  margin: auto;
}

/* ===========================
 *         BACKGROUND
 * ===========================
*/
.background {
	z-index: -10;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #222222;
    height: 87vw;
    width: 100%;
}
.background > div {
	z-index: -10;
}

.upper-line--dashed {
    position: absolute;
    width: 100%;
    height: 5.9vw;
    border-bottom: 1px dashed #f8de01;
}

.shape-group--upper-left {
    width: 17%;
    height: auto;
    position: relative;
}

.triangular-right--upper-left--orange {
    width: 100%;
    height: auto;
}

.triangular-right--upper-left--yellow {
    width: 28%;
    height: auto;
    position: absolute;
    left: 20%;
    top: 66%;
}

.polygon--upper-right--yellow {
    width: 13%;
    height: 15vw;
    position: absolute;
    right: 0px;
    top: 0px;
}

.triangle--middle-right--orange {
    width: 70%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 5.333vw;
}

.triangle--bottom-left--yellow {
    width: 2.69%;
    height: 6vw;
    position: absolute;
    left: 0px;
    top: 55vw;
}

.triangle--bottom-left--orange {
    width: 26%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 61vw;
}

.big-polygon-pane--up {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 74.4vw;
}

.big-polygon-pane--center {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 130vw;
}

.big-polygon-pane--down {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 168vw;
}

.big-polygon-pane--very-down {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 210vw;
}

.big-polygon-pane--last-element {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 233vw;
}

.copyright-footer {
    position: absolute;
    width: 100%;
    top: 264vw;
    background-color: #111111;
    text-align: center;
}

.copyright-footer > div {
    padding: 15px;
}

.copyright-footer a {
    color: white;
    font-family: 'Museo_300', sans-serif;
    font-size: 0.7vw;
}

.copyright-footer [href] {
    color: #f8de01;
    text-decoration: none;
}

/* ===========================
 *         CONTENT
 * ===========================
*/

/*          MENU          */

.menu-up {
    position: absolute;
    right: 16vw;
    top: 0.6vw;

    /* <ul> */
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.menu-up li {
    float: left;
}

.menu-up li a {
    display: block;
    color: white;
    text-align: center;
    margin: 2vw 0px 2vw 0px;
    padding: 0px 1vw 0px 1vw;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Museo_300', sans-serif;
    font-size: 1vw;
}

.menu-up li a:hover {
    background-color: rgba(17, 17, 17, 0.555);
}

.menu__item--divide {
    border-left: solid #ffad00;;
}

/*          BIKE          */

.wheel {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

.bike {
    position: absolute;
    top: 9vw;
    left: 43vw;
}

.bike__container {
    position:relative;
    width: 30vw;
    max-width: 30vw;
    line-height: 0;
}

.bike__container  img {
    max-width: 100%;
}

.bike__cyclist {
    width: 100%;
    margin-left: 2%;
}

.bike__foot {
    position: absolute;
    width: 8.2%;
    top: 68.78%;
    left: 69.6%;
    z-index: -2;
}

.bike__wheel--left {
    width: 35%;
    position: absolute;
    top: 57%;
    z-index: -1;
}

.bike__wheel--right {
    width: 35%;
    position: absolute;
    top: 56%;
    left: 64%;
    z-index: -1;
}

/*          OTHER UP          */

.logo--small {
    width: 6vw;
    height: auto;
    position: absolute;
    top: 1vw;
    left: 19vw;
}



.slogan {
    position: absolute;
    top: 11vw;
    left: 11%;
    max-width: 30vw;
}

.slogan__title {
    text-transform: uppercase;
    font-family: 'Museo_700', sans-serif;
    color: white;
    font-size: 4vw;
}

.slogan__content {
    text-transform: uppercase;
    font-family: 'Museo_300', sans-serif;
    color: white;
    font-size: 0.8vw;
    position: absolute;
    top: 10vw;
}



.button--here {
    border: 1px solid #f8de01;
    margin-top: 3vw;
    margin-left: 1vw;
}

.button--here:hover {
    background: #573b00;
}

.button--here span {
    color: #9cf801;
    font-family: 'Museo_700', sans-serif;
}

/*          OFFERS          */

/* container */

.offers {
    position: absolute;
    top: 43vw;
    width: 100%;
}
.offers__container {
    width: 68vw;
}

/* switch */

.offer-switch {
    width: 100%;
}
.button--offer-switch {
    display:inline-block;
    margin-left: 1vw;

    transform: skew(-30deg);
    width: 0.5vw;
    height: 0.5vw;
}
.button--offer-switch--not-selected {
    background: #ffad00;
    border: 1px solid #ffad00;
}
.button--offer-switch--not-selected:hover {
    border: 1px solid #9cf801;
}
.button--offer-switch--selected {
    background: white;
    border: 1px solid #9cf801;
}

/* tiles */

.offers-wrapper {
    margin-top: 6vw;
    display: grid;
    grid-gap: 50px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
}
.offer__tiles {
    width: 100%;
    height: 100%;
    min-width: 33vw;
    min-height: 17vw;
    max-width: 100%;
    max-height: 100%;
    background: black;
    display: inline-block;
    position: relative;
    overflow: hidden;
}

.offer__tiles > img {
    position: absolute;
    right: 0px;
    bottom: 0px;
    max-height: 100%;
}

@media only screen and (max-width: 600px) {
    .offers-wrapper {
      grid-template-rows: repeat(4, 1fr);
      grid-template-columns: 1fr;
      grid-gap: 2em;
    }
}

.tiles--fit-man__shape {
    width: 55%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.tiles--fit-couple__shape {
    width: 55%;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

.tiles--fit_woman__shape {
    width: 101.5%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tiles--dressed-man__shape {
    width: 101.5%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.tiles__title--light {
    position: absolute;
    top: 7%;
    left: 7%;
    max-width: 50%;

    text-transform: uppercase;
    font-family: 'Museo_700', sans-serif;
    color: white;
    font-size: 1.5vw;
}

.tiles__content--light {
    position: absolute;
    top: 45%;
    left: 7%;
    max-width: 40%;

    text-transform: uppercase;
    font-family: 'Museo_300', sans-serif;
    color: white;
    font-size: 0.7vw;
}

.tiles__more--light {
    position: absolute;
    bottom: 0%;
    left: 7%;
    text-align: center;

    cursor: pointer;
    transition: all .2s ease-in-out;
}
.tiles__more--light:hover {
    transform: scale(1.1);
}

.tiles__more--light > p {
    font-family: 'Museo_300', sans-serif;
    color: #f8de01;
    font-size: 1.3vw;
    display: inline-block;
}

.tiles__more--light > span {
    color: #f8de01;
    font-size: 1vw;
    display: inline-block;
}

.tiles__title--dark {
    position: absolute;
    top: 7%;
    left: 7%;
    max-width: 50%;

    text-transform: uppercase;
    font-family: 'Museo_700', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
}

.tiles__content--dark {
    position: absolute;
    top: 45%;
    left: 7%;
    max-width: 40%;

    text-transform: uppercase;
    font-family: 'Museo_300', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 0.7vw;
}

.tiles__more--dark {
    position: absolute;
    bottom: 0%;
    left: 7%;
    text-align: center;

    cursor: pointer;
    transition: all .2s ease-in-out;
}
.tiles__more--dark:hover {
    transform: scale(1.1);
}

.tiles__more--dark > p {
    font-family: 'Museo_700', sans-serif;
    color: black;
    font-size: 1.3vw;
    display: inline-block;
}

.tiles__more--dark > span {
    color: black;
    font-size: 1vw;
    display: inline-block;
}

/*          NEWST PRODUCTS          */

.newst-products {
    width: 100%;
    position: absolute;
    top: 93vw;
}

.newst-products__title {
    text-transform: uppercase;
    font-family: 'Museo_700', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 2.5vw;
}

.newst-products__desc {
    font-family: 'Museo_300', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1vw;
    display: block;
    margin-top: 2vw;
}

.products-wrapper {
    margin-top: 12vw;
    display: grid;
    grid-gap: 1vw;
    grid-template-rows: 20vw;
    grid-template-columns: repeat(3, 22vw);
    align-items: center;
    justify-items: center;
    width: 68vw;
}

@media only screen and (max-width: 600px) {
    .products-wrapper {
        grid-gap: 3vw;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
    }
}

.product {
    width: 100%;
    height: 100%;
    min-width: 22vw;
    min-height: 20vw;
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden;

    background-color: white;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.product:hover > div {
    background: white;
}
.product:hover {
    transform: scale(1.1);
}

.product > div {
    width: calc(100% - 2vw);
    height: calc(100% - 5vw);
    position: absolute;
    top: 1vw;
    left: 1vw;

    background-color: #dde7e9;
}

.product > p {
    position: absolute;
    bottom: 0.1vw;
    left: 2vw;

    font-family: 'Museo_300', sans-serif;
    color: black;
    font-size: 1.3vw;
}

.product > span {
    position: absolute;
    bottom: 1.2vw;
    right: 2vw;

    font-family: 'Museo_700', sans-serif;
    color: black;
    font-size: 1.5vw;
}

.product img {
    max-width: 80%;
    max-height: 80%;
}

/*          PERFORMANCE BUTTONS          */

.button--know {
    border: 1px solid #000000;
    margin-top: 2vw;
    margin-left: 1vw;
    padding: 0.7vw 2vw;
}

.button--know--up:hover {
    background: #e7e7e7;
}

.button--know--down:hover {
    background: #f8de01;
}

.button--know span {
    color: #000000;
    font-family: 'Museo_300', sans-serif;
    font-size: 0.9vw;
}

/*          PERFORMANCE UP          */

.performance--up {
    width: 100%;
    position: absolute;
    top: 131.5vw;
}
.performance--up > div {
    position: relative;
}

.performance--up__image {
    position: absolute;
    right: 17%;
    width: 52%;
}

.performance--up__info {
    position: absolute;
    top: 10vw;
    left: 15%;
}

.performance--up__info > h1 {
    text-transform: uppercase;
    font-family: 'Museo_700', sans-serif;
    color: black;
    font-size: 2.43vw;
    max-width: 37%;
}

.performance--up__info > p {
    font-family: 'Museo_300', sans-serif;
    color: black;
    font-size: 0.7vw;
    max-width: 50%;
}

/*          PERFORMANCE UP          */

.performance--down {
    width: 100%;
    position: absolute;
    top: 171.5vw;
}
.performance--down > div {
    position: relative;
}

.performance--down__image {
    position: absolute;
    left: 15%;
    width: 32%;
}

.performance--down__info {
    position: absolute;
    top: 10vw;
    right: 15%;
    width: 32%;
    max-width: 32%;
}

.performance--down__info > h1 {
    text-transform: uppercase;
    font-family: 'Museo_700', sans-serif;
    color: white;
    font-size: 2.43vw;
    max-width: 67%;
}

.performance--down__info > p {
    font-family: 'Museo_300', sans-serif;
    color: black;
    font-size: 0.7vw;
    max-width: 90%;
}

/*          NEWSLETTER          */

.newsletter {
    width: 100%;
    position: absolute;
    top: 225vw;
}
.newsletter > div {
    position: relative;
}

/* info */

.newsletter__info {
    margin-left: 15.5%;
}

.newsletter__info > h1 {
    font-family: 'Museo_700', sans-serif;
    color: white;
    font-size: 1.5vw;
}

.newsletter__info__discount {
    font-family: 'Museo_700', sans-serif;
    color: #f8de01;
    font-size: 2vw;
}

/* form */

.newsletter__form {
    position: absolute;
    right: 20%;
    top: 1vw;
    width: 36vw;

    display: flex;
    justify-content: flex-end
}
.newsletter__field {
    border-color: #ffffff;
    border-style: solid;
    border-width: 1px 0px 1px 1px;
    width: 25vw;
    
    display: inline-block;
}
.newsletter__field > input {
    background-color: transparent;
    color: white;
    height: 2.5vw;
    font-size: 1vw;
}
.newsletter__field > input::placeholder {
    text-transform: capitalize;
    color: #a7a7a7;
    opacity: 1;
}
.newsletter__field > input:-ms-input-placeholder {
    text-transform: capitalize;
    color: #a7a7a7;
}
.newsletter__field > input::-ms-input-placeholder {
    text-transform: capitalize;
    color: #a7a7a7;
}

/* button */

.button--sumbit {
    display: inline-block;
    width: 5vw;
    text-align: center;
    
    border: 1px solid #f8de01;
    padding: 0.7vw 1vw;
}
.button--sumbit span {
    color: #f8de01;
    font-family: 'Museo_300', sans-serif;
    font-size: 0.9vw;
}
.button--sumbit:hover {
    background: #573b00;
}

/*          BOTTOM MENU          */

.bottom-menu {
    width: 100%;
    position: absolute;
    top: 247vw;
}
.newsletter > div {
    position: relative;
}

/* logo */
.bottom-menu__logo {
    margin-left: 15%;
}

.bottom-menu__logo > img {
    width: 12.5vw;
}

.bottom-menu__logo > span {
    display: block;
    font-family: 'Museo_300', sans-serif;
    color: lightgray;
    font-size: 0.7vw;
    max-width: 20vw;
    margin-top: 1.5vw;
    margin-left: 0.5vw;
}

/* menu */

.bottom-menu__menu {
    position: absolute;
    top: 0%;
    margin-left: 41%;
}

.bottom-menu__menu__wrapper {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
    align-items: left;
    justify-items: left;
    width: 43vw;
}

@media only screen and (max-width: 600px) {
    .products-wrapper {
        grid-gap: 2vw;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
    }
}

.bottom-menu__menu__category {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: transparent;
}

.bottom-menu__menu__category li:first-of-type {
    text-transform: none;
    display: block;
    font-family: 'Museo_300', sans-serif;
    color: white;
    font-size: 0.7vw;
    margin-bottom: 1.5vw;

    cursor: default;
}
.bottom-menu__menu__category li:first-of-type::first-letter {
    text-transform: uppercase;
}

.bottom-menu__menu__category li {
    text-transform: capitalize;
    font-family: 'Museo_300', sans-serif;
    color: gray;
    font-size: 0.7vw;
    margin-bottom: 0.6vw;

    cursor: pointer;
}
.bottom-menu__menu__category li:hover {
    color: white;
}