body {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ===========================
 *         BACKGROUND
 * ===========================
*/
.background {
	z-index: -1;
    position: relative;
    top: 0px;
    left: 0px;
    background-color: #222222;
    height: 87vw;
    width: 100%;
}

.shape-group--upper-left {
    width: 17%;
    height: auto;
    position: relative;
}

.triangular-right--upper-left--orange {
    width: 100%;
    height: auto;
}

.triangular-right--upper-left--yellow {
    width: 28%;
    height: auto;
    position: absolute;
    left: 20%;
    top: 66%;
}

/* Unused TOD, only for future testing purposes */
/* .shape-group--upper-right {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
} */

.polygon--upper-right--yellow {
    width: 13%;
    height: 15vw;
    position: absolute;
    right: 0px;
    top: 0px;
}

.triangle--middle-right--orange {
    width: 70%;/*54.54%*/
    height: auto;
    position: absolute;
    right: 0px;
    top: 5.333vw;
}

.triangle--bottom-left--yellow {
    width: 2.69%;
    height: 6vw;
    position: absolute;
    left: 0px;
    top: 55vw;
}

.triangle--bottom-left--orange {
    width: 26%;
    height: auto;
    position: absolute;
    left: 0px;
    top: 61vw;
}

.big-polygon-pane--up {
    width: 100%;
    height: auto;
    position: absolute;
    right: 0px;
    top: 74.4vw;
}